/Imclient/JsonCppTest
/ImClient/Maintest
/ImClient/Update
/Imclient/wininetTest
*.exe
*.dll
/Lib
*.sdf
/ImClient/SetUp1
/ImClient/Debug/ImClient/IMFilerecv
/ImClient/Release/ImClient/Release
/ImClient/ipch

